<div class="row">
    <h2>Create new user</h2>
</div>
<div class="row">
    <form role="form" class="form-horizontal">
        <div class="form-group">
            <label class="control-label col-md-2">Display name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createUserCtrl.userObj.displayName"/>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">User name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createUserCtrl.userObj.name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Password</label>
            <div class="col-md-10">
                <input type="password" class="form-control" ng-model="createUserCtrl.userObj.password"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Admin privileges</label>
            <div class="col-md-10">
                <input type="checkbox" ng-model="createUserCtrl.userObj.admin"/>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-default pull-left" ng-click="createUserCtrl.createUser()">Create</button>
            <button type="button" class="btn btn-default pull-right">Cancel</button>
        </div>

    </form>
</div>