<div class="row">
    <h2>Create new task</h2>
</div>
<div class="row">
    <form role="form" class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Name</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.description"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Status</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.state"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Priority</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.priority"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Project</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.project"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Assignee</label>
            <div class="col-md-10">
             <!--   <select class="form-control" ng-model="createTaskCtrl.taskObj.assignedTo">
                    <option ng-repeat="user in createTaskCtrl.userList" value="{{user._id}}">{{user.name}}</option>
                </select>-->
                <user-select model="createTaskCtrl.taskObj.assignedTo"></user-select>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Expected start date</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.startDate"/>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Estimate (days)</label>
            <div class="col-md-10">
                <input type="text" class="form-control" ng-model="createTaskCtrl.taskObj.duration"/>
            </div>
        </div>
    </form>
    <div class="row">
        <button class="btn btn-default pull-left" type="button" ng-click="createTaskCtrl.createTask()">Create</button>
        <button class="btn btn-default pull-right" type="button">Cancel</button>
    </div>
</div>